
    <div class="card">
        <div class="card-header">
            <h2>OLX tasks</h2>
        </div>
        <div class="card-body">
            <ul>
                <li><a href="index.php?task=One">Task One</a></li>
                <li><a href="index.php?task=Two">Task Two</a></li>
                <li><a href="index.php?task=Three">Task Three</a></li>
            </ul>
        </div>
        <div class="card-footer">
        </div>
    </div>

