    <div class="card mt-5">
        <div class="card-header">
            <h2>Task Three</h2>
            <p>
                Given a function that returns a random integer number between 1 and 5, create a
                function that creates a random integer between 1 and 7. Use any language or write in
                pseudocode.
            </p>

        </div>
        <div class="card-body">
            <form method="post">
                <button type="submit" class="btn btn-primary mb-2 float-right">Submit</button>
            </form>
        </div>
        <div class="card-footer">
        </div>
    </div>
