    <div class="card mt-5">
        <div class="card-header">
            <h2>Task Two</h2>
            <p>
                Consider the below mentioned links and try to write programs for the following.
            </p>
            <ol>
                <li>"page1" has the following links: "page2", "page3"</li>
                <li>"page2" has the following links: "page1"</li>
                <li>"page3" has the following links: "page4"</li>
            </ol>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="input-group mb-3">
                    <select name="from" class="custom-select">
                        <option selected value="page1">page1</option>
                        <option value="page2">page2</option>
                        <option value="page3">page3</option>
                        <option value="page4">page4</option>
                    </select>
                    <select name="to" class="custom-select">
                        <option value="page1">page1</option>
                        <option value="page2">page2</option>
                        <option value="page3">page3</option>
                        <option selected value="page4">page4</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2 float-right">Submit</button>
            </form>
        </div>
        <div class="card-footer">
        </div>
    </div>
